/* Features */

.feature__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 75%;
    padding: 10px 50px;
    
}

.feature {
    gap: 4rem 2rem;
    margin: 4rem 12rem;
}

.feature:first-of-type {
    margin-top: 6rem;
}

.feature__content{
    padding: 0 20px;
    flex: 1
}

.feature__heading {
    margin: 1rem 0;
}

.feature__image{
    object-fit: contain;
    border-radius: 15px;
}

@media screen and (min-width: 1300px) {

    .feature:nth-of-type(even) .feature__content {
        order: 2;
      }

    .feature__block{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      
      
    }
    .feature__image{
        width: 100%;
        flex: 1;
    }
   
}
  