.nav {
    /* background: #000; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.8rem 6rem;
   
    align-items: flex-end;
    box-shadow: 0 0 5px rgb(207, 207, 207);

 

    
}

.nav_left{
    display: flex;
    flex-direction: row;
    
}

.nav__logo{
    /* border-bottom: 2px solid rgb(207, 207, 207); */
}

.nav__search{
    display: flex;
    align-items: center;  
    margin-top: 10px;
    margin-left: 10px;
   
    /* width: 200px; */
}

.nav__search .input {
    border: 0;
    flex-grow: 1;
    font-size: 1.5rem;
    width: 200px;
    padding: 1rem 1.5rem;
    border-radius: 10px;
  }


/* .message__icon{
    font-size: 1.5rem;
    color: var(--color-primary);
} */

.nav__slogan{
    text-align: right;
    margin-top: 3px;
    font-size: 1rem;
    color: var(--color-headings);
}
F
.nav__right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav__list {
    display: flex;
    /* display: none; */
    width: 100%;
    margin: 0;
}
  
.nav__item {
    padding: 0.5rem 0.5rem;
    /* border-bottom: 1px solid #222; */
    cursor: pointer;
    font-size: 1rem;
    color: var(--color-body-darker);
}
  
.nav__item > a {
    color: var(--color-body-darker);
    transition: color 0.3s;
}
  
.nav__item > a:hover {
    color: var(--color-body);
}


.nav__user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1px;
    /* padding: 5px 10px;
    background-color: #f1f2f5;
    border-radius: 50px; */
    
}

.nav__user--img{
    /* margin-right: 10px; */
    font-size: 1rem;
    color: gray;
}

.nav__user--username{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;

}


@media screen and (min-width: 768px) {
  
    .nav__list {
      width: auto;
      font-size: 1.6rem;
      max-height: 100%;
      opacity: 1;
    }
  
    .nav__item {
        font-size: 1.5rem;
        border: 0;
    }

    
  }