.nav {
    /* background: #000; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
    /* box-shadow: 0 0 5px rgb(207, 207, 207) */
}

.nav_left{
    display: flex;
    flex-direction: column;
    
}

.nav__logo{
    border-bottom: 2px solid rgb(207, 207, 207);;
}

/* .message__icon{
    font-size: 1.5rem;
    color: var(--color-primary);
} */

.nav__slogan{
    text-align: right;
    margin-top: 3px;
    font-size: 1rem;
    color: var(--color-headings);
}

.nav__right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav__list {
display: none;
    width: 100%;
    margin: 0;
}
  
.nav__item {
padding: 0.5rem 2rem;
border-bottom: 1px solid #222;
}
  
.nav__item > a {
color: var(--color-body-darker);
transition: color 0.3s;
}
  
.nav__item > a:hover {
color: var(--color-body);
}


.nav__user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1px;
    padding: 5px 10px;
    background-color: #f1f2f5;
    border-radius: 50px;
    
}

.nav__user--img{
    /* margin-right: 10px; */
    font-size: 1rem;
    color: gray;
}

.nav__user--username{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;

}



@media screen and (min-width: 768px) {
    .nav__toggler {
      display: none;
    }
  
    .nav__list {
      width: auto;
      display: flex;
      font-size: 1.6rem;
      max-height: 100%;
      opacity: 1;
    }
  
    .nav__item {
      border: 0;
    }

    
  }