.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(245, 245, 245, 0.7);
    z-index: 10;
  }
  
  
  .modal-background > .close-x {
    position: absolute;
    background-color: #eff2f5;
    cursor: pointer;
    top: 5px;
    right: 17px;
    padding: 0px 5px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 999px;
  }
  
  
  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  
  
  .close-x {
    position: absolute;
    background-color: #eff2f5;
    cursor: pointer;
    top: 5px;
    right: 17px;
    padding: 1px 6px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 999px;
  }
  
  .close-x:hover{
    background-color: lightgray;
    font-size: 22px;
  }