.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}


.profile__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;  
    margin: 0 auto;  
    position: relative; 
    height: 450px; 
}

.profile__coverpotp{
    top: 0;
    position: absolute;
    background: linear-gradient(#f1f2f5 , #e3e3e6 80%);
    width: 100%;
    min-height: 280px; 

}

.profile__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    margin: 15px auto;
}

.profile__userinfo--heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__userinfo--heading > h1{
    font-size: 1.8 rem;
    font-weight: 700;
    text-align: center;
}

.profile__userinfo--heading > h2{
    font-size: 1.5rem;
    text-align: center;
}

.profile__userinfo--heading > p{
    font-size: 1.3rem;
    
}

.profile__useravatar{
    /* margin: 2px 2px; */
    border-radius: 50%;
    width: 208px;
    height: 208px;
    margin-right: 10px;
    border: 6px solid white;
    object-fit: cover;
      
}


.profile__option{
    font-size: medium;
    font-weight: 500;
    color: rgb(90, 88, 88);
    margin-right: 20px;
    padding: 15px 15px;
}

.profile__img{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100px;
    justify-content: center;
    align-items: center; 
    margin-top: 20px; 
}


.profile__feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.profile__feedbar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profile__feedbar--option{
    margin-right: 10px;
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-body-darker);
    padding: 3px 30px;
    cursor: pointer;
}

.profile__feedbar--option:hover{
    background-color: #e3e3e6;
    border-radius: 10px;
    border: 0px;
}

.active{
    border-bottom: 3px solid var(--color-primary);
}

.active:hover {
    border-bottom: 3px solid transparent;
}

.profile__about{
    /* margin-top: 30px; */
    /* background: linear-gradient(#f1f2f5 , #e3e3e6 80%); */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__about--slogan {
    margin-top: 30px;
    font-size: 1.5rem;
    /* font-weight: 700; */
    color: black;
    text-align: center;
    line-height: 0;
}

.profile__about--slogan-blod{
    font-weight: 800;
}


.profile__about--intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 350px; */
    font-size: 1.5rem;
    color: var(--color-body-darker);

}

.profile__about--left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 0 0 7px rgb(207, 207, 207), 0 0 10px rgb(238, 238, 238);
     
}

.profile__about--right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     
}

.profile__about--edit{
    /* width: 100%; */
    display: flex;
    justify-content: flex-start;
}

.profile__events{
  
    /* background: linear-gradient(#f1f2f5 , #e3e3e6 80%); */
    width: 100%;
    min-height: 205px; 
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {

    
    .profile__header{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .profile__userinfo{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 0;
    }



    .profile__userinfo--heading > h1{
        font-size: 2em;
     
    }

    
    .profile__userinfo--heading > p{
        font-size: 1.3rem;
        
    }

    .profile__navbar{
        display: flex;
        justify-content: center;
        align-items: center;           
        margin-top: 10px;
    }

    .profile__about{
        margin-top: 50px;
        /* background: linear-gradient(#f1f2f5 , #e3e3e6 80%); */
        /* width: 75%; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .profile__about--left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 300px;
        margin-right: 50px;       
    }
    
    .profile__about--right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 650px;
        flex: 1;
    }


    .profile__about--slogan {
        margin-top: 30px;
        /* font-size: 2.5rem; */
        /* font-weight: 700; */
        color: black;
        text-align: center;
        line-height: 0;
    }

    .profile__about--slogan {
        font-size: 2.5rem;
    }

    .profile__about--intro{
        width: 55%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        
    }


}




