
.profile__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    margin: 10px auto;
   
}

.profile__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    margin: 15px auto;
}


.profile__userinfo--heading > h1{
    font-size: 1.8rem;
    font-weight: 700;
}

.profile__userinfo--heading > p{
    font-size: 1.1rem;
    
}

.profile__useravatar{
    border: 0;
    border-radius: 50%;
    width: 168px;
    height: 168px;
    /* border: 6px solid rgb(223, 222, 222); */
  
}


.profile__option{
    font-size: medium;
    font-weight: 500;
    color: rgb(90, 88, 88);
    margin-right: 20px;
    padding: 15px 15px;
}



@media screen and (min-width: 768px) {

    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
        border: 2px solid orange;
    }
    
    .profile__header{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .profile__userinfo{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .profile__userinfo--heading{
        margin-right: 250px;
    }

    .profile__userinfo--heading > h1{
        font-size: 1.8em;
    }

    
    .profile__userinfo--heading > p{
        font-size: 1.3rem;
        
    }

    .profile__img{
        margin-right: 10px;
    }

    .profile__navbar{
        display: flex;
        justify-content: center;
        align-items: center;           
        margin-top: 10px;
    }
    
}


