.container {
    max-width: 1140px;
    margin: 80px auto;
  }
  
.feed__search{
    width: 65%;
    margin: 150px auto;
    min-width: 450px;
}

/* .feed__search_sticky{
  display: none;
  position: sticky;
  top: 5px;
  width: 30%;
  margin: 80px auto;
  z-index: 999999999999;

} */

